<?xml version="1.0" encoding="utf-8"?>
<DataType Key="473bc045-4ed9-4ab3-81cf-20114ecd81d7" Alias="[Dropdown] Colors" Level="1">
  <Info>
    <Name>[Dropdown] Colors</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Blue"
    },
    {
      "id": 2,
      "value": "Red"
    },
    {
      "id": 3,
      "value": "Black"
    },
    {
      "id": 4,
      "value": "Pink"
    },
    {
      "id": 5,
      "value": "White"
    },
    {
      "id": 6,
      "value": "Grey"
    },
    {
      "id": 7,
      "value": "Orange"
    },
    {
      "id": 8,
      "value": "Brown"
    },
    {
      "id": 9,
      "value": "Purple"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>