<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3438357a-a580-400b-96b5-16872ea157bd" Alias="Site Navigation Properties - Main Navigation - Block List" Level="1">
  <Info>
    <Name>Site Navigation Properties - Main Navigation - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8d8c00de-3192-4c6e-8bda-97e7059f2796",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 10,
    "min": 1
  }
}]]></Config>
</DataType>