<?xml version="1.0" encoding="utf-8"?>
<DataType Key="781fced7-42d1-4bda-9a46-5a02af6cd74d" Alias="Site Navigation Properties - Main Navigation - Multi URL Picker" Level="1">
  <Info>
    <Name>Site Navigation Properties - Main Navigation - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>