<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b37121a-8c12-4e19-80e2-64eece84099c" Alias="About" Level="2">
  <Info>
    <Parent Key="d0bcc13d-3b5b-4169-a6eb-191fa35d819b">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-10T09:57:38</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26a45806-bba8-438b-9036-74ef35d85940">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Welcome to Chow Haven, your go-to destination for exploring delicious food and discovering new culinary experiences!</p>
<p>At Chow Haven, we're all about celebrating the joys of food and bringing people together through the love of great meals. Whether you're a seasoned foodie or just starting out on your culinary journey, we're here to guide you every step of the way.</p>
<p>Our website is dedicated to showcasing some of the most mouth-watering dishes from around the world, featuring everything from classic comfort foods to exotic and adventurous cuisine. </p>
<p><br>We're more than just a website - we're a community of food lovers who are passionate about food. We believe that food has the power to bring people together and create lasting memories.</p>
<p> </p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "fb95be42-0a55-41df-b5b1-6c436fb6e8e2",
    "mediaKey": "6adfcff4-adac-4468-87a9-f02e3e5111fb"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[All you need to know about chows]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About Chow Haven]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>