<?xml version="1.0" encoding="utf-8"?>
<Content Key="d88155ad-9761-49c0-9709-edd562825abb" Alias="Blog" Level="2">
  <Info>
    <Parent Key="d0bcc13d-3b5b-4169-a6eb-191fa35d819b">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>contentListPage</ContentType>
    <CreateDate>2023-05-10T13:33:14</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b1381d46-9ab2-49cc-8673-4e23f8a88596">ContentListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "4df6098e-f0a9-4c97-9bd6-0c884956381e",
    "mediaKey": "8ecf4078-c176-4d73-be69-8abc88f31c00"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>