<?xml version="1.0" encoding="utf-8"?>
<Content Key="b66ba36e-94b9-4eb1-88b7-810e8fe4bed3" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d0bcc13d-3b5b-4169-a6eb-191fa35d819b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-05-10T13:33:43</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e8e8733d-4875-4fdb-8ebf-35f1a51bce55">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "dc9fd9af-d53a-45e3-b0ea-1c1bc270c42f",
    "mediaKey": "8ecf4078-c176-4d73-be69-8abc88f31c00"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>