<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0bcc13d-3b5b-4169-a6eb-191fa35d819b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-09T11:35:18</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17a32477-5ace-4b20-8987-972bd396d611">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/Fortunateomonuwa"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/Fortunateomonuw"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "8ec9311a-207b-49e3-b587-3b18f31fa9c9",
    "mediaKey": "395a1e9e-61b7-46af-b4c9-ad238f74c9db"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/d0bcc13d3b5b4169a6eb191fa35d819b"
  },
  {
    "name": "Blog",
    "udi": "umb://document/d88155ad976149c09709edd562825abb"
  },
  {
    "name": "About",
    "udi": "umb://document/5b37121a8c124e1980e264eece84099c"
  },
  {
    "name": "Contact",
    "udi": "umb://document/b66ba36e94b94eb188b7810e8fe4bed3"
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A Food Blog Demo By Freeman]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Chow Haven]]></Value>
    </title>
  </Properties>
</Content>