<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b8500eb-e350-4b82-b60e-bb861ca384df" Alias="contentListPage" Level="2">
  <Info>
    <Name>Content List Page</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>List of Food Contents</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b382a78c-1b08-46d7-a170-4f9cbdc728f7">contentProperties</Composition>
      <Composition Key="e0d4e3ec-f866-4b75-8af3-35f3060be28f">headerProperties</Composition>
      <Composition Key="781f14c4-c08d-4895-b9c7-16e6667dc38a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b1381d46-9ab2-49cc-8673-4e23f8a88596">ContentListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>