<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e067cf1-a80c-4ddc-b364-350681d7141a" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Enter some contents</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b382a78c-1b08-46d7-a170-4f9cbdc728f7">contentProperties</Composition>
      <Composition Key="e0d4e3ec-f866-4b75-8af3-35f3060be28f">headerProperties</Composition>
      <Composition Key="781f14c4-c08d-4895-b9c7-16e6667dc38a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="26a45806-bba8-438b-9036-74ef35d85940">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>