<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="163a082e-cdb1-4f6c-9b9d-6d4387435829" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Chow Haven contact details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b382a78c-1b08-46d7-a170-4f9cbdc728f7">contentProperties</Composition>
      <Composition Key="e0d4e3ec-f866-4b75-8af3-35f3060be28f">headerProperties</Composition>
      <Composition Key="781f14c4-c08d-4895-b9c7-16e6667dc38a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e8e8733d-4875-4fdb-8ebf-35f1a51bce55">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>