<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ecf4078-c176-4d73-be69-8abc88f31c00" Alias="22Tix154" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tix154</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T13:45:30</CreateDate>
    <NodeName Default="22Tix154" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pzam5dtw/22tix154.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>