<?xml version="1.0" encoding="utf-8"?>
<Media Key="395a1e9e-61b7-46af-b4c9-ad238f74c9db" Alias="Barbecue Fisf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BarbecueFisf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T17:59:13</CreateDate>
    <NodeName Default="Barbecue Fisf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tapfuonx/barbecue-fisf.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>