<?xml version="1.0" encoding="utf-8"?>
<Media Key="6adfcff4-adac-4468-87a9-f02e3e5111fb" Alias="Eforirowithsnail" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Eforirowithsnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T17:59:23</CreateDate>
    <NodeName Default="Eforirowithsnail" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lhn40vm/eforirowithsnail.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>