<?xml version="1.0" encoding="utf-8"?>
<Media Key="40090006-4da8-4a04-b70b-72b84b147307" Alias="Egusiproper" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Egusiproper</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T17:59:03</CreateDate>
    <NodeName Default="Egusiproper" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aaaasqfi/egusiproper.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>