<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e680475-ded8-473c-b300-7e60cca2fc71" Alias="IMG 20230427 WA0033" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20230427WA0033</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T13:45:30</CreateDate>
    <NodeName Default="IMG 20230427 WA0033" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/omcgqtwy/img-20230427-wa0033.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>