<?xml version="1.0" encoding="utf-8"?>
<Media Key="813f7d5b-aff6-4e71-86d9-78f4b81fe7e8" Alias="IMG 20230427 WA0034" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20230427WA0034</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T13:45:30</CreateDate>
    <NodeName Default="IMG 20230427 WA0034" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lv4d5apw/img-20230427-wa0034.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>