<?xml version="1.0" encoding="utf-8"?>
<Media Key="3973cbe6-b618-4ee1-8c88-e37f3fff8740" Alias="IMG 20230427 WA0027" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20230427WA0027</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T13:45:30</CreateDate>
    <NodeName Default="IMG 20230427 WA0027" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2dfhgoiy/img-20230427-wa0027.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>