<?xml version="1.0" encoding="utf-8"?>
<Media Key="20a4db16-e986-4dd9-b190-daf2c1030a83" Alias="Raoul Droog Ymsecchsibc Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RaoulDroogYmsecchsibcUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T13:10:42</CreateDate>
    <NodeName Default="Raoul Droog Ymsecchsibc Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdnliieg/raoul-droog-ymsecchsibc-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>