<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e4168de-cc90-4933-8cd9-392ece7acfe5" Alias="Turkey" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Turkey</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T13:45:29</CreateDate>
    <NodeName Default="Turkey" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1buecduq/turkey.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>